* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: black;
}
body {
  display: flex;
  background-color: rgb(84, 85, 85);
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
#CV {
  position: relative;
  padding: 2rem;
  width: 65%;
  min-height: 90vh;
  margin: 2rem auto;
  background-color: white;
  box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  h2 {
    font-weight: 400;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #27384c;
    padding: 0.5rem 0px;
  }
}
main {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#left-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
}
#about-me {
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin-top: 1rem;
  p {
    margin-top: 1rem;
    line-height: 1.5;
  }
}
#right-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
#contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    margin-left: 2rem;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      list-style: none;
    }
  }
}
#skills-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-align: center;
  article {
    flex: 1;
    ul {
      margin-top: 1rem;
      padding: 0px 5%;
      li {
        line-height: 200%;
      }
    }
  }
}
#work-exp {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
#square {
  position: absolute;
  width: 100%;
  height: 20vw;
  top: 0px;
  left: 0px;
  background-color: #27384c;
}
#photo-container {
  position: relative;
  top: 1rem;
  text-align: center;
  width: 25vw;
  height: 25vw;
  background-color: white;
  outline: 1rem solid white;
  border: #27384c solid 0.3rem;
  border-radius: 50%;
  contain: content;
}
#main-photo {
  height: 100%;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#my-name {
  text-align: center;
  margin: auto;
  color: #27384c;
  padding: 2rem;
  text-wrap: wrap;
}
[id^="circle"] {
  position: absolute;
  border-radius: 50%;
  background: repeating-linear-gradient(
    135deg,
    rgb(121, 109, 109),
    rgb(113, 101, 101) 2px,
    white 1px,
    white 7px
  );
}
@media (min-width: 1020px) {
  #CV h2 {
    width: 90%;
    background-color: #27384c;
    padding: 0.5rem 0px;
    &:hover {
      background-color: #38506c;
      transition: ease;
      transition-duration: 100ms;
    }
  }
  main {
    flex-direction: row;
  }
  #left-content {
    width: 60%;
  }
  #about-me {
    width: 100%;
  }
  #contact ul {
    margin-left: 1rem;
  }
  #right-content {
    width: 100%;
  }
  #skills-container ul {
    padding: 0px 5% 0px 15%;
  }
  header {
    flex-direction: row;
    gap: 2rem;
  }
  #square {
    width: 15vw;
    height: 15vw;
  }
  #photo-container {
    top: 0px;
    width: 15vw;
    height: 15vw;
    margin: 3rem 0 0 3rem;
  }
  #my-name {
    text-align: start;
    font-size: 3rem;
    padding: 2.5rem;
  }

  #circle_tr {
    top: -5%;
    right: -12%;
    width: 20%;
    height: 20%;
  }
  #circle_bl {
    left: -5%;
    bottom: 2%;
    width: 10%;
    height: 10%;
  }
  #circle_br {
    right: -15%;
    bottom: -12%;
    width: 25%;
    height: 20%;
  }
}
@media (min-width: 1600px) {
  * {
    font-size: 1.05em;
  }
  #my-name {
    font-size: 4vw;
  }
}
